@import "../../responseive.scss";
.listPage{
    display: flex;
    height: 100%;
    @include md{
        flex-direction: column;
        overflow-x: scroll;
  
    }
    @include sm{
        flex-direction: column;
        overflow-x: scroll;    
        margin-bottom: 50%;
    }
    .listContainer{
     flex: 3;
     .wrapper{
        height: 100%;
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        overflow-y: scroll;
        padding-bottom: 50px;
        .loader{
            display: flex;
            align-items: center;
            justify-content: center;
        }
     }
    }
    .mapContainer{
    flex: 2;
    height: 100%;
    background-color: #fcf5f3;
    @include md{
        flex: none;
     }
    @include sm{
       flex: none;
       height:600px ;

    }
    }
}