@import "../../responseive.scss";
.card{
    display: flex;
    gap: 20px;
    .imageContainer{
        flex: 2;
        height: 200;
        @include sm{
            display: none;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    .textContainer{
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        img{
            width:17px ;
            height:17px ;
        }
        .title{
           font-size: 20px;
           font-weight: 600;
           transition: all 0.4s ease;
           color: #444;
           &:hover{
            color: #222;
            scale: 1.01;
           }
        }
        .address{
            display: flex;
            align-items: center;
            font-size: 14px;
            gap: 5px;
            color: #888;
        }
        .price{
            font-size: 20px;
            font-weight:300 ;
            padding: 5px;
            background-color: #e887d4;
            width: max-content;
        }
        .bottom{
            display: flex;
            justify-content: space-between;
            gap: 10px;
            .features{
                display: flex;
                gap: 20px;
                font-size: 14px;
                .feature{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    background-color:whitesmoke ;
                    padding: 5px;
                    border-radius: 5px;
                }
            }
            .icons{
                display: flex;
                gap: 20px;
                .icon{
                    border: 1px solid #999;
                    padding: 2px 5px ;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    &:hover{
                        background-color: lightgray;
                    }
                }
            }
        }
    }

}